#Valores para conectarse a la base de datos
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

#Puertos de DB
DB_PORT=5432
DOCKER_DB_PORT=5432

#Puertos del backend. El puerto de docker ponerlo en el docker-compose.prod.yml ya que es para producción
PORT=8080
DOCKER_PORT=8080

#JWT (Sí es que es para prod ponelo, si es para local no hace falta, se lo pone en el editor)
JWT_SECRET=

#Profiles (Si existe un profile para local, prod, testing, etc., se lo pone, sino no)
SPRING_PROFILES_ACTIVE=